{% extends 'HomePage.html' %}
{% block home %}
{% load static %}
	<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{% static 'images/hero_5.jpg' %}');">
		<div class="container">
			<div class="row same-height justify-content-center">
				<div class="col-md-6">
					<div class="post-entry text-center">
						<h1 class="mb-4">About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section sec-halfs py-0">
		<div class="container">
			<div class="half-content d-lg-flex align-items-stretch">
				<div class="img mt-3" style="background-image: url('{% static 'images/hero_1.jpg' %}');" data-aos="fade-in" data-aos-delay="100">
					
				</div>
				<div class="text">
					<h2 class="heading text-primary mb-3">Resources for makers and creatives</h2>
					<p class="mb-4">Welcome to a hub designed for innovators, dreamers, and doers. This space is dedicated to providing inspiration, tips, and tools for makers and creatives of all kinds—whether you're into crafting, digital design, or DIY projects. Explore tutorials, insights, and resources that will help you turn your creative ideas into reality. Join a community of passionate individuals eager to learn, create, and share their work.</p>
					<!-- <p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p> -->
				</div>
			</div>

			<div class="half-content d-lg-flex align-items-stretch">
				<div class="img order-md-2 mb-3" style="background-image: url('{% static 'images/hero_2.jpg' %}');" data-aos="fade-in">
					
				</div>
				<div class="text">
					<h2 class="heading text-primary mb-3">We are trusted by more than 5,000 clients</h2>
					<p class="mb-4">Our commitment to quality and creativity has earned the trust of over 5,000 clients worldwide. From small businesses to large enterprises, we’ve built lasting relationships by delivering unique solutions tailored to their needs. Join our growing community and experience the dedication, innovation, and support that set us apart.</p>
					<!-- <p><a href="#" class="btn btn-outline-primary py-2">Read more</a></p> -->
				</div>
			</div>
		</div>

	</div>

	<div class="section sec-features">
		<div class="container">
			<div class="row g-5">
				<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
					<div class="feature d-flex">
						<span class="bi-bag-check-fill"></span>
						<div>
							<h3>Building your blog</h3>
							<p>Create and share your ideas effortlessly. Our platform helps you build a personalized blog, connect with your audience. </p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
					<div class="feature d-flex">
						<span class="bi-wallet-fill"></span>
						<div>
							<h3>Resources and insights</h3>
							<p>Access valuable tools,tips,and expert insights to fuel your creativity.Stay informed and inspired.</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
					<div class="feature d-flex">
						<span class="bi-pie-chart-fill"></span>
						<div>
							<h3>Blog just for you</h3>
							<p>Tailored to your interests, our blog brings you curated content, tips, and inspiration. Dive into a world of ideas made just for you!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="section">
		<div class="container">
			
			<div class="row mb-5">
				<div class="col-lg-5 mx-auto text-center" data-aos="fade-up">
					<h2 class="heading text-primary">Our Team</h2>
					<p>A passionate group of creators, innovators, and experts dedicated to helping you succeed. We work together to bring you the best insights, resources, and support.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
					<img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid w-25 rounded-circle mb-3">
					<h5 class="text-black">James Griffin</h5>
					<p>
James brings a visionary approach to every project, ensuring our creative output remains fresh, innovative, and impactful. With a background in design and strategy, he leads the team in crafting experiences that resonate with our audience.</p>
				</div>
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
					<img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid w-25 rounded-circle mb-3">
					<h5 class="text-black">Claire Smith</h5>
					<p>Claire is the mastermind behind our content. With a keen eye for storytelling and audience engagement, she develops strategies that connect our readers with valuable insights and resources. Her passion for crafting compelling narratives drives our blog's success.</p>
				</div>
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid w-25 rounded-circle mb-3">
					<h5 class="text-black">Jessica Wilson</h5>
					<p>Jessica is our social media guru, skilled at building vibrant online communities. She creates engaging content that amplifies our message and connects us with followers. Her expertise in digital trends ensures our presence is both dynamic and impactful.</p>
				</div>

				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
					<img src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid w-25 rounded-circle mb-3">
					<h5 class="text-black">William Anderson</h5>
					<p>William is our technical backbone, ensuring that all our platforms run smoothly. With expertise in web development and user experience, he tackles complex challenges and implements innovative solutions that enhance our blog's functionality.</p>
				</div>
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
					<img src="{% static 'images/person_5.jpg' %}" alt="Image" class="img-fluid w-25 rounded-circle mb-3">
					<h5 class="text-black">Julie Harvey</h5>
					<p>Julie is our creative visual storyteller, transforming ideas into stunning designs. Her artistic flair and attention to detail bring our content to life, ensuring that every graphic not only captures attention but also resonates with our audience.</p>
				</div>
				<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'images/lilly collins.webp' %}" alt="Image" class="img-fluid w-25 rounded-circle mb-3">
					<h5 class="text-black">Shana Clarkson</h5>
					<p>Shana is the heart of our community, fostering connections and encouraging engagement among our readers. With her friendly demeanor and strong communication skills, she ensures that everyone feels welcomed and valued, helping to build a supportive environment for all.</p>
				</div>
			</div>

		</div>
	</div>



	<div class="section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-7 mb-4 mb-lg-0">
					<img src="{% static 'images/img_7_sq.jpg' %}" alt="Image" class="img-fluid rounded
					">
				</div>
				<div class="col-lg-4 ps-lg-2">
					<div class="mb-5">
						<h2 class="text-black h4">Publishing platform for professional bloggers</h2>
						<p></p>Our platform empowers professional bloggers with the tools and features they need to succeed. Enjoy a seamless writing experience, advanced analytics, and customizable templates that help you showcase your content and grow your audience effortlessly.
					</div>
					<div class="d-flex mb-3 service-alt">
						<div>
							<span class="bi-wallet-fill me-4"></span>
						</div>
						<div>
							<h3>Building your blog</h3>
							<p>Create and share your ideas effortlessly. Our platform helps you build a personalized blog, connect with your audience. </p>
						</div>
					</div>

					<div class="d-flex mb-3 service-alt">
						<div>
							<span class="bi-pie-chart-fill me-4"></span>
						</div>
						<div>
							<h3>Resources and insights</h3>
							<p>Access valuable tools,tips,and expert insights to fuel your creativity.Stay informed and inspired.</p>
						</div>
					</div>

					<div class="d-flex mb-3 service-alt">
						<div>
							<span class="bi-bag-check-fill me-4"></span>
						</div>
						<div>
							<h3>Blog just for you</h3>
							<p>Tailored to your interests, our blog brings you curated content, tips, and inspiration. Dive into a world of ideas made just for you!</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
{% endblock home %}
