{% extends "HomePage.html" %}
{% block home %}
<div class="section search-result-wrap">
    <div class="container">
        <div class="row">
            {% if blogs %}
            <div class="col-12">
                <div class="heading">Category: {{ blogs.0.category }}</div>
            </div>
        </div>
        <div class="row posts-entry">
            <div class="col-lg-8">
                {% for blog in blogs %}
                <div class="blog-entry d-flex blog-entry-search-item">
                    <a href="{% url 'bdet' blog.id %}" class="me-4">
                        <img src="{{ blog.image.url }}" class="rounded" alt="Image" style="width: 210px; height: 250px;">
                    </a>
                    <div>
                        <span class="date">{{ blog.date }} &bullet; <a href="#">{{ blog.category }}</a></span>
                        <h2><a href="{% url 'bdet' blog.id %}">{{ blog.title }}</a></h2>
                        {% if blog.desc|length > 100 %}
                        <p>{{ blog.desc|slice:":100" }}...</p>
                        {% else %}
                        <p>{{ blog.desc }}</p>
                        {% endif %}
                        <p><a href="{% url 'bdet' blog.id %}" class="btn btn-sm btn-outline-primary">Read More</a></p>
						<a href="{% url 'pview' blog.profile.user %}" class="d-flex align-items-center mt-1">
							<img src="{{ blog.profile.image.url }}" alt="Profile Image" class="rounded-circle" style="width: 40px; height: 40px;">
							<span class="ms-2">{{ blog.profile.username }}</span>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <div class="row text-start pt-5 border-top">
                    <div class="col-md-12">
                        <div class="custom-pagination">
                <!-- First Page -->
                {% if blogs.has_previous %}
                    <a href="?page=1">First</a> 
                {% else %}
                    <span>First</span>
                {% endif %}

                <!-- Previous Page -->
                {% if blogs.has_previous %}
                    <a href="?page={{ blogs.previous_page_number }}">Previous</a>
                {% else %}
                    <span>Previous</span>
                {% endif %}

                <!-- Page Numbers -->
                {% for page_num in blogs.paginator.page_range %}
                    {% if page_num == blogs.number %}
                        <span>{{ page_num }}</span>  <!-- Current page, no link -->
                    {% elif page_num > blogs.number|add:'-3' and page_num < blogs.number|add:'3' %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>  <!-- Display nearby pages -->
                    {% endif %}
                {% endfor %}
                
                <!-- Last Page -->
                <span>...</span>
                <a href="?page={{ blogs.paginator.num_pages }}">{{ blogs.paginator.num_pages }}</a>

                <!-- Next Page -->
                {% if blogs.has_next %}
                    <a href="?page={{ blogs.next_page_number }}">Next</a>
                {% else %}
                    <span>Next</span>
                {% endif %}
            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a href="{% url 'blist' cat="Technology" %}">Technology</a></li>
						<li><a href="{% url 'blist' cat="Buisiness" %}">Buisiness</a></li>
						<li><a href="{% url 'blist' cat="Food" %}">Food</a></li>
						<li><a href="{% url 'blist' cat="Anime" %}">Anime</a></li>
						<li><a href="{% url 'blist' cat="Cars" %}">Cars</a></li>
						<li><a href="{% url 'blist' cat="Story" %}">Story</a></li>
						<li><a href="{% url 'blist' cat="Sports" %}">Sports</a></li>
                    </ul>
                </div>
			{% else %}
         
            <div class="col-12">
                <div class="heading">Category: {{ selected_category }}</div>
            </div>
			<div class="col-lg-8 ">
				<p>No blogs found in this category.</p>
			</div>
            <div class="col-lg-4 sidebar ">
                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        <li><a href="{% url 'blist' cat="Technology" %}">Technology</a></li>
						<li><a href="{% url 'blist' cat="Buisiness" %}">Buisiness</a></li>
						<li><a href="{% url 'blist' cat="Food" %}">Food</a></li>
						<li><a href="{% url 'blist' cat="Anime" %}">Anime</a></li>
						<li><a href="{% url 'blist' cat="Cars" %}">Cars</a></li>
						<li><a href="{% url 'blist' cat="Story" %}">Story</a></li>
						<li><a href="{% url 'blist' cat="Sports" %}">Sports</a></li>
                    </ul>
                </div>
                {% endif %}
                <!-- END sidebar-box -->
            </div>
        </div>
    </div>
</div>

{% endblock home %}
