{% extends 'HomePage.html' %}
{% block home %}

<div class="container mt-5">
    <h2 class="mb-5 text-center text-dark">Reviews</h2>

    {% if allrevs %}
    <div class="comments-section">
        {% for review in allrevs %}
        <div class="comment-item border-bottom pb-4 mb-4">
            <div class="d-flex align-items-start">
                <!-- User Profile Picture -->
                <div class="profile-image me-3">
                    <img src="{{ review.profile.image.url }}" alt="User Image" class="rounded-circle" style="width: 50px; height: 50px;">
                </div>

                <!-- Comment Body -->
                <div class="comment-content">
                    <h5 class="mb-1">{{ review.profile.user.username }}</h5>
                    <small class="text-muted">{{ review.date|date:"M d, Y" }}</small>
                    <p class="mt-2">{{ review.comment }}</p>
                    {% if user == review.profile.user %}
                        <div class="d-flex justify-content-start w-100">
                        <a href="{% url 'editrev' review.id %}?next={{ request.path }}" class="btn py-2" title="Edit Blog">
                        <i class="fas fa-edit" style="font-size: 16px; color: #214252;"></i>
                        </a>
                        <a href="{% url 'revdel' review.id %}?next={{ request.path }}" class="btn py-2" title="Edit Blog">
                        <i class="fas fa-trash" style="font-size: 15px; color: red;"></i>
                        </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock home %}
